h1{color: rgb(184, 32, 215);}
table{width: 800px;}
body{background-color: rgb(66, 162, 230);}
#content{color: black;width: 800px;margin: auto;padding: 20px;background-color: antiquewhite;}
h1{background-color: antiquewhite;width: 800px;}